/*** Awesome Table ***/

/* filtered results information : last - first / total number of result */
   thead {
        display:none!important;
    }

.frame {
    height: 80px;
    width: 80px;
    text-align: center;
    padding:10px 20px 10px 10px!important;
    float:left;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle!important;
    padding:0px!important;
    margin-left:-4px!important;
}

img {
    vertical-align: middle!important;
    max-height:100%;
    max-width:100%;
    padding:0px!important;
}
.feature {
border-right-color:#FDD067;
}
.Information {
border-right-color:#ED423A;
}
.Release {
border-right-color:#1BA862;
}

.google-visualization-table-tr-sel td,
.google-visualization-table-tr-over td {
        background-color: #D6E9F8!important;
}
.loader {
        background-color:#437AF8;
}
/* loader progress bar */
.loader {
        background-color:#437AF8;
}
/* CategoryFilter & csvFilter hovered item in the dropdown */
.charts-menuitem-highlight {
        background-color:#437AF8!important;
        border-color:#0288d1!important;
        color:#FFF;
}
.google-visualization-controls-categoryfilter LI{
        background-color:#3C81F8!important;
        color:#FFF;
        height:25px;
        vertical-align: middle;
        border-radius: 5px;
        line-height:25px;

        }
.charts-menuitem-highlight>.charts-menuitem-content {
color: white;
}

.content {
border-right-width:8px;
border-right-style:solid;
min-height:99px;
cursor: pointer; cursor: hand;

}
